{% extends "polls/base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block styles %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock styles %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'admin:index' %}" role="button">Log in</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}


{% block container %}
  {% if latest_question_list %}
    <div class="questionlist" id="qlist">
      <input type="text" class="search" placeholder="Search"/>
      <ul class="list">
      {% for question in latest_question_list %}
          <li><p class="name"><a href="{% url 'polls:detail' question.id %}">{{ question.text }}</a></p></li>
      {% endfor %}
      </ul>
      <div class="wrapper">
        <ul class="pagination"></ul>
      </div>
    </div>
  {% else %}
      <p>No polls are available.</p>
  {% endif %}
{% endblock container %}

{% block scripts %}
  <script src="{% static 'js/list.min.js' %}"></script>
  <script>
    var monkeyList = new List('qlist', {
      valueNames: ['name'],
      page: 7,
      pagination: true
    });
  </script>
{% endblock scripts %}
